<nav class="server-name">
  <ul>
    <li><%= link_to "HOME", :root %> <span class="pipes"> | </span></li>
    <li><%= link_to "LOG OUT", deletion_path, method: :delete %><span class="pipes"> | </span></li>
    <li><span class="nav-name">WELCOME BACK <%= current_server.username %></span></li>
  </ul>
</nav>

<h1>EDIT MENU ITEM </h1>

      <%= form_for @menu_item do |f| %>

        <span class="form"><%= f.label :name %></span>
        <%= f.text_field :name, class:'text-box' %>

        <br>

        <span class="form"><%= f.label :description %></span>
        <%= f.text_field :description, class:'text-box' %>

        <br>

        <span class="form"><%= f.label :price %></span>
        <%= f.number_field :price, class:'text-box' %>

        <br>

        <%= submit_tag "EDIT ITEM", class: "button" %>

      <% end %>
