<nav class="server-name">
  <ul>
    <li><%= link_to "HOME", :root %> <span class="pipes"> | </span></li>
    <li><%= link_to "LOG OUT", deletion_path, method: :delete %><span class="pipes"> | </span></li>
    <li><span class="nav-name">WELCOME BACK <%= current_server.username %></span></li>
  </ul>
</nav>

<h1>ALL MENU ITEMS </h1>

<% @menu_items.each do |menu_item| %>

    <h2><%= menu_item.name.upcase %></h2>

    <p><%= menu_item.description %> .........
    <%= menu_item.price %></p>

    <%= link_to "DELETE DISH", menu_item_path(menu_item.id), method: :delete %> <span class="pipes">  |  </span>

    <%= link_to "EDIT DISH", edit_menu_item_path(menu_item.id) %>

    <br>
    <hr>

    <% end %>

</div>

    <ul class="body-button">

      <li class="button"> <%= link_to "ADD DISH", new_menu_item_path %> </li>

    </ul>
