<div class="server-name">
  <h4>WELCOME BACK <%= @server.username %> </h4>
</div>



<h1>ADD MENU ITEM</h1>

<%= form_for @menu_item do |f| %>

  <span class="form"><%= f.label :name %></span>
  <%= f.text_field :name, class: 'text-box' %>

  <br>

  <span class="form"><%= f.label :description %></span>
  <%= f.text_field :description, class: 'text-box' %>

  <br>

  <span class="form"><%= f.label :price %></span>
  <%= f.number_field :price, class: 'text-box' %>

  <br>

  <%= submit_tag "ADD ITEM", class: "button" %>

<% end %>
