<nav class="server-name">
  <ul>
    <li><%= link_to "HOME", :root %> <span class="pipes"> | </span></li>
  </ul>
</nav>



<div class="form-page-body">
  <h1>LOG IN </h1>


    <%= form_tag '/sessions', method: :post do %>

      <span class="form"><%= label_tag :username %></span>
      <span class="text-box"><%= text_field_tag :username %></span>

      <br>
      <br>

      <span class="form"><%= label_tag :password %></span>
      <span class="text-box"><%= password_field_tag :password %></span>

      <br>

      <%= submit_tag "LOG IN", class: "button" %>

    <% end %>


</div>
