<div class="form-page-body">

  <h1>NEW SERVER</h1>



    <%= form_for @server do |f| %>

      <span class="form"><%= f.label :username %></span>
      <%= f.text_field :username, class: 'text-box' %>

      <br>

      <span class="form"><%= f.label :password %></span>
      <%= f.password_field :password, class: 'text-box' %>

      <br>

      <span class="form"><%= f.label :password_confirmation %></span>
      <%= f.password_field :password_confirmation, class: 'text-box' %>

      <br>

      <span class="form"><%= f.label :admin %></span>
      <%= f.check_box :admin %>

      <br>

      <%= submit_tag "CREATE SERVER", class: "button" %>

    <% end %>


</div>
