<nav class="server-name">
  <ul>
    <li><%= link_to "HOME", :root %> <span class="pipes"> | </span></li>
    <li><%= link_to "LOG OUT", deletion_path, method: :delete %><span class="pipes"> | </span></li>
    <li><span class="nav-name">WELCOME BACK <%= current_server.username %></span></li>
  </ul>
</nav>

<ul class="body-button">

  <li class="button"><%= link_to "LOG OUT", deletion_path, method: :delete %></li>

  <li class="button"><%= link_to "NEW ORDER", new_customer_path, method: :get %></li>

</ul>
