<div class="server-name">
  <h4>WELCOME BACK <%= @server.username %> </h4>
</div>

<div class="form-page-body">

<h1>CUSTOMERS</h1>

<% @customers.each do |customer| %>

    <h4>SEAT NUMBER:   <span class="seat-link"><%= link_to( customer.seat_number, customer_path(customer.id) ) %></h4></span>

    <h4>TABLE NUMBER:   <span class="seat-link"> <%= customer.table_number %></h4></span>

    <h4>HAVE THEY PAID?   <span class="seat-link"> <%= customer.has_paid %></h4></span>

    <h1>ADD FOOD ORDER - TABLE # NOT PULLING</h1>

    <%= link_to "MARK AS PAID", customer_path(customer.id), method: :delete %> <span class="pipes">  |  </span>

    <%= link_to "EDIT CUSTOMER", edit_customer_path(customer.id) %>

    <br>
    <hr>

    <% end %>
