<nav class="server-name">
  <ul>
    <li><%= link_to "HOME", :root %> <span class="pipes"> | </span></li>
    <li><%= link_to "LOG OUT", deletion_path, method: :delete %><span class="pipes"> | </span></li>
    <li><%= link_to "START NEW ORDER", new_customer_path %><span class="pipes"> | </span></li>
    <li><span class="nav-name">WELCOME BACK <%= current_server.username %></span></li>
  </ul>
</nav>


<h1>OPEN ORDERS</h1>

<% @customers.each do |customer| %>

    <h4>SEAT NUMBER:   <span class="seat-link"><%= link_to( customer.seat_number, customer_path(customer.id) ) %></h4></span>

    <h4>TABLE NUMBER:   <span class="seat-link"> <%= customer.table_number %></h4></span>

    <h4>HAVE THEY PAID?   <span class="seat-link"> <%= customer.has_paid %></h4></span>

    <h4>FOOD ORDER:  <span class="seat-link"> <% customer.menu_items.each do |menu_item| %>
      <%= render partial: "menu_items/menu_item", locals: {menu_item: menu_item} %>
        <% end %> </h4> </span>
    <br>

    <div style="centerline">
      <%= link_to "MARK AS PAID", customer_path(customer.id), method: :delete %> <span class="pipes">  |  </span>

      <%= link_to "EDIT CUSTOMER INFO", edit_customer_path(customer.id) %> <span class="pipes">  |  </span>

      <%= link_to "ADD FOOD", customer_path(customer.id) %>
    </div>

    <br>
    <hr>

    <% end %>
