<nav class="server-name">
  <ul>
    <li><%= link_to "HOME", :root %> <span class="pipes"> | </span></li>
    <li><%= link_to "LOG OUT", deletion_path, method: :delete %><span class="pipes"> | </span></li>
    <li><span class="nav-name">WELCOME BACK <%= current_server.username %></span></li>
  </ul>
</nav>

<div class="customer">

<span class="customer-label">TABLE NUMBER:</span> <span class="customer-info"><%= @customer.table_number %></span> <span class="pipes">  |  </span>

<span class="customer-label"> SEAT NUMBER:</span> <span class="customer-info"><%= @customer.seat_number %></span>
</div>

<h1>ADD FOOD</h1>


<%= form_for @order do |f| %>
  <%= f.hidden_field "server_id", :value => @server.id%>
  <%= f.hidden_field "customer_id", :value => @customer.id%>

  <span class="form"><%= f.label :menu_item %></span>
  <%= f.collection_select :menu_item_id, MenuItem.all, :id, :name, class: "custom-dropdown" %>
  <br>

  <%= submit_tag "FINISH ORDER", class: "button" %>

  <% end %>
