
<%= @customer.table_number %>



orders controller needs a create method to handle this
access this with parma


submit to ..... redirect to all customers page

<div class="orders">

<h1>ADD FOOD</h1>


<%= form_for @order, url: new_order_path do |f| %>
  <%= f.hidden_field "server_id", :value => @server.id%>
  <%= f.hidden_field "customer_id", :value => @server.id%>
  <span class="form"><%= f.label :menu_item %></span>
  <%= f.collection_select :menu_item_id, MenuItem.all, :id, :name, class: "custom-dropdown" %>
  <br>

  <%= submit_tag "FINISH ORDER", class: "button" %>

  <% end %>

</div>
