<div class="server-name">
  <h4>Welcome Back <%= current_server.username %> </h4>
</div>

<h1>EDIT FOOD</h1>


<%= form_for @order do |f| %>
  <%= f.hidden_field "server_id", :value => @server.id%>
  <%= f.hidden_field "customer_id", :value => @customer.id%>

  <span class="form"><%= f.label :menu_item %></span>
  <%= f.collection_select :menu_item_id, MenuItem.all, :id, :name, class: "custom-dropdown" %>
  <br>

  <%= submit_tag "FINISH ORDER", class: "button" %>

  <% end %>
